apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: go-helloworld-prod
  namespace: argocd
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
        - values-prod.yaml
    path: deploy/helm/go-helloworld
    repoURL: https://github.com/mathiasvkaiz/cloud_native_developer.git
    targetRevision: HEAD
